<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>
 
<!--   <ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab> -->
 
  <ion-tab title="Orders" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/tab/orders">
    <ion-nav-view name="tab-orders"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Products" icon-on="ion-ios-pricetags" icon-off="ion-ios-pricetags-outline" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Stores" icon-on="ion-ios-box" icon-off="ion-ios-box-outline" href="#/tab/stores">
    <ion-nav-view name="tab-stores"></ion-nav-view>
  </ion-tab>
 
</ion-tabs>